.i-banner-img{
    height:9rem;width:100%;
}

.i-banner-box p{
    margin: 0em;
}

.i-border-bottom{
    border-bottom: 1px solid #ccc;
}

.i-border-top{
    border-top: 1px solid #bbb;
}

.item-content{
    border-bottom: 1px solid #ccc;
}

.i-academyName{
    border-top: 1px solid #cccccc;
    padding: 0.2em 1em 0.2em;
}

.content-block-title{
    margin-top: 1.2em;
    color:dodgerblue;
}

.list-block{margin:0;}