.i-filter-box {
    border: 1px solid #ddd;
}

.i-filter-box > input {
    padding: 0.3em;
    border: none;
    border-right: 1px solid #ddd;
}

.i-filter-box > input:last-child {
    border-right: none;
}

.i-list-box{
    margin: 0;
    padding: 0;vertical-align: middle;
    background-color: #fff;
}
.i-list-item{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0.8em;
    border-bottom: 1px solid #ccc;;
}

.i-list-item > img{
    float: left;
    margin: 0 0.8em 0.8em 0;
    padding: 0;

    width: 5em;
}

/*.i-list-item-left{vertical-align: middle;text-align: center;display: table-cell;}*/
/*.i-list-item-left > img{*/
    /*width:60%;*/
    /*vertical-align: middle;*/
/*}*/

.i-list-item-right > h2{
    margin: 0;
    font-size: 1.5em;
    white-space:nowrap;text-overflow:ellipsis;overflow:hidden;-webkit-text-overflow:ellipsis;
}
.i-list-item-right > p{
     margin: 0.1em;
    font-size: 1.0em;
    color: #777;
 }

